{% extends 'base.html.twig' %}

{% block title %}Mis Solicitudes{% endblock %}

{% block Solicitudes %}active{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h4>Mis Solicitudes</h4>
        <a href="{{ path('nueva_solicitud') }}" class="btn btn-primary">Crear Solicitud</a>
        <a href="{{ path('solicitudes') }}" class="btn btn-secondary">Solicitudes</a>
        <a href="{{ path('misSolicitudes') }}" class="btn btn-secondary">Mis Solicitudes</a>
        <a href="{{ path('SolicitudesEnProceso') }}" class="btn btn-secondary">En Proceso</a>
        <br><br>
        <table class="table table-hover">
            <thead>
            <tr class="table-info">
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Campo Afin</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% set contador = 0 %}
            {% for solicitud in solicitudes %}
                {% set contador = contador + 1 %}
                <tr>
                    <td>
                        {{ solicitud.id }}
                    </td>
                    <td>
                        {{ solicitud.titulo }}
                    </td>
                    <td>
                        {{ solicitud.campoAfine }}
                    </td>
                    <td>
                        {{ solicitud.fecha }}
                    </td>
                    <td>
                        <a href="{{ path('edit_nueva_solicitud', {id:solicitud.id}) }}" style="cursor:pointer;" class="btn btn-outline-primary">Editar</a>
                        <a href="{{ path('delete_solicitudes', {id:solicitud.id}) }}" style="cursor:pointer;" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="3">
                    <b>Cantidad de Solicitudes {{ contador }}</b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}