{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block registro %}active{% endblock %}

{% block body %}

    <h2>Registrarse</h2>

    <form action="{{ path('registro') }}" method="post">
        {{ form_start(form) }}

        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre) }}
        {{ form_errors(form.nombre) }}

        {{ form_label(form.apellido) }}
        {{ form_widget(form.apellido) }}
        {{ form_errors(form.apellido) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}

        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
        <br>
        {{ form_widget(form.registrarse) }}

        {{ form_end(form) }}

    </form>



{% endblock %}